body {
  margin: 9px;
  width: auto;
  min-width: 150px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

h1 {
  font-size: 15px;
  text-align: center;
}

.hash {
  display: flex;
  flex-direction: row;
}

#hash_all_button, #hash_sel_button {
  margin: 1px 5px 0 5px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

#errorMsg {
  color: red;
  display: none;
  margin-top: 10px;
  margin-bottom: 0;
}

#content, #no_pad_yet {
  display: none;
}